.navbar {
  background-color: black;
  color: aliceblue;
}
.nav {
  display: flex;
  justify-content: space-between;
  
}

.nav-logo img {
  margin-left: 20px;
  width: 150px;
  border-radius: 10px;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 20px;
  font-size: larger;
  display: flex;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
}

.divCarrito {
  display: flex;
  justify-content: space-between;
  color: aliceblue;
  align-items: center;
}

.carrito {
  margin-right: 5px;
  width: 50px;
  border-radius: 5px;
  
}

.carrito:hover{
  cursor: pointer;
}
