.navbar {
    color: aliceblue;
    background-color: black;
    display: flex;
  }
  
  .nav {
    width: 300px;
    font-size: x-large;
    display: flex;
    justify-content: space-around;
  }
  
  .logo {
    margin-left: 20px;
    width: 150px;
    border-radius: 5px;
  }